.hom1 {
  max-width: 700px;
  height: 100%;
}

.hmp1,
.hmp12 {
  width: 60%;
}

.skillsImg {
  width: 100%;
  height: 300px;
}

.event2Img {
  width: 100%;
  height: 350px;
}

.hostConf {
  width: 500px;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .hom1 {
    max-width: 100%;
    height: auto;
  }

  .hmp1,
  .hmp12 {
    width: 100%;
    margin-bottom: -10%;
  }

  .skillsImg {
    width: 100%;
    height: 200px;
  }

  .event2Img {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .hmp1 {
    width: 100%;
    margin-bottom: 60%;
  }

  .hmp12 {
    width: 100%;
    margin-bottom: 10%;
  }

  .hostConf {
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 300px) {
  .hmp1 {
    width: 100%;
    margin-bottom: 80%;
  }
}
